.questa_static_screen/
modelsim.ini
db/
incremental_db/
output_files/
work/
*.qws
*.rpt
*.summary
*.smsg
*.pin
*.sof
*.pof
*.jdi
tb_int/uvm/build/
tb_int/uvm/logs/
*.ucdb
*.vstf
transcript
__pycache__/
*.pyc
